
<!--navbar code-->
<div class="navbar">
        <div>MJTUBE</div>
</div>
<!--end-->

<!--main code-->
<div class="container fix-container">
<router-outlet></router-outlet>
</div>
<!--end-->

<!--footer code-->
<footer>
        <div class="footer container">
                <div class="row">
                        <div class="col-sm-4">
                                <ul class="list-unstyled">
                                        <li><a href="" title="Home">Home</a></li>
                                        <li><a href="" title="Search">Search</a></li>
                                        <li><a href="" title="About">About</a></li>
                                        <li><a href="" title="Contact">Contact</a></li>
                                </ul>
                        </div>
                        <div class="col-sm-4">
                                <ul class="list-unstyled">
                                        <li><a href="" title="How to download subtitle">How to download subtitle</a></li>
                                        <li><a href="" title="How to download video">How to download video</a></li>
                                        <li><a href="" title="How to search subtitle">How to search subtitle</a></li>
                                        <li><a href="" title="How to search video and download">How to search video and download</a></li>
                                </ul>
                        </div>
                        <div class="col-sm-4">
                                <ul class="list-unstyled">
                                        <li><a href="https://www.facebook.com" target="_blank" title="Facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="https://www.twitter.com" target="_blank" title="Twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="https://www.instagram.com" target="_blank" title="Instagram"><i class="fa fa-instagram"></i> Instagram</a></li>
                                        <li><a href="https://www.pinterest.com" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                </ul>
                        </div>
                </div>
        </div>
        <div class="right-reserved text-center">
                &copy; All Rights Reserved.
        </div>
</footer>
<!--end-->


